/*Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and 
     all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`
2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.*/
*{
    box-sizing: border-box;
}

body{
   background-image: url("../images/gravel.png");
   
  
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }


header{
    background-color: #ffffff;
    border: 2px solid #cccccc;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    
}
.main-header{

        border: 1px  ;
        height: 80px;
        margin: 0px auto;
        width: 960px
    

    
}
#headerName{
    float: left;
    width: 280px;
    height: 72px;/*hight of header minus its border 80-4-4*/
    margin-top: 0px;
    padding: 25px 15px; 
    color: #ffffff;
    background-color: #4aaaa5;
    border: 1px solid;   
}
nav{
    float: right;  
    border: 1px;
    width:310px;
    margin-top: 15px;
}
header::after{
   content: "";
   clear: both;
    display: block;

}
ul.bar{
    list-style-type:none;
    
}
li.bar {
  
   display: inline;
  
}
li a{
   
    padding: 20px ;
    text-decoration: none;
    color: #777777;      
}
ul.skill,#skill{
    color: #777777;
    list-style-type: square;
    padding-left: 110px;
}
/*changes the background of the current link */
.aboutme a.aboutme,
.portfolio a.portfolio,
.contact a.contact {

    background:#4aaaa5; 
    color:#ffffff;
  }
a.bar:link{
    color: #777777;    
}
/*a.bar:visited{
    color: #777777;
    
}*/
a.bar:hover{
    background-color: #4aaaa5;
    color: #ffffff;
}
a.bar:active{
    color: #777777;
    background-color: #4bbb99;

}


section{
    background-color: #ffffff;
    width: 100%;
      max-width: 960px;
      min-height: calc(100vh - 70px);
     
     margin: 90px auto;
     border: 2px #dddddd;
    
     
}
.sectionName{
    padding: 20px 40px;
}
#profileimage{
    float: left;
    width: 200px;
    height: 200px;
    border: 20px solid #ffffff;
}

p{
    color: #777777;
    text-align: justify;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, Times, Times, 'New Roman', serif;
    color: #4aaaa5;   
}

form{
    width: auto;
    margin: 0px 30px;
    
}
.inp{
    width: 600px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    border-radius: 4px;
    
    
}
.inp:focus{
    background-color:  #f8f8f8;

}
label{
    color: #777777;
    
      
}
#btn{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 16px 30px;
    cursor: pointer;
 
 }
 #btn:focus{
    color: #777777;
    background-color: #4bbb99;
 }


 footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
   
    height: 50px;
  }
  
  
/*portifolio image setup*/
.placeholder-container{
    margin-left: 5px;
}
.placholder-sub-container-1{
    position: relative;
    margin: 0px;
    padding: 0;
    border: 1px solid #ffffff;
}
.hangman{
    position: absolute;
    padding: 10px;
    width: 125px;
    color: #ffffff;
    background: #4aaaa5;
    left: 10px;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
}
.rpggame{
    position: absolute;
    padding: 10px;
    width: 125px;
    color: #ffffff;
    background: #4aaaa5;
    left: 159px;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
}
.placholder-sub-container-2{
    position: relative;
    margin: 0px;
    padding: 0;
    border: 1px solid #ffffff;
}
.triviagame{
    position: absolute;
    padding: 10px;
    width: 125px;
    color: #ffffff;
    background: #4aaaa5;
    left: 10px;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
}
.rutgersinfo{
    position: absolute;
    padding: 10px;
    width: 125px;
    color: #ffffff;
    background: #4aaaa5;
    left: 159px;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
}

.placholder-sub-container-3{
    position: relative;
    margin: 0px;
    padding: 0;
    
    
}
.rps{
    position: absolute;
    padding: 10px;
    width: 125px;
    color: #ffffff;
    background: #4aaaa5;
    left: 10px;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
    
}

.placeholder-img{
    padding: 10px;
}
.portfolio-name{
    text-decoration: none;
    color: #ffffff;
}
/* Use three `@media screen` tags, each with one of these `max-width`s: `980px`, `768px` and `640px`. */
@media screen and (max-width:980px){/*any thing here works for <980*/
   
    .main-header{

       
        height: 80px;
        margin: 0px auto;
        width: 740px;
    

    
}
#headerName{
    float: left;
    width: auto;
    height: 72px;
    margin-top: 0px;
    font-size: 20px;
}
nav{
   
    width:auto;
    margin-top: 15px;
}
h
    section{
      
         width: 740px; 
         height: 480px;
         margin: 90px auto;
         
        
         
        
    }
    
    #profileimage{
        
        width: 150px;
        height: 150px;
        
    }
    
    
    
    p{
        font-size: small;
    }
    h3{
        font-size: 15px;
        line-height: 0px;
        
    }
    li a{
   
        padding: 10px ;
            
    }
    
   
}

@media screen and (max-width:768px){/*any thing here works for <768*/
    header{
        
        margin-left: 0px;
        width: 100%;
        height: 50px;
           
    }
    
    section{
        
        position: relative;
         width: 620px; 
         height: 475px;
         margin: 60px auto;
         


}
.main-header{
    
    height: 47px;
    margin: 3px auto;
    width: 620px
}
#headerName{
    float: left;
    width: auto;
    height: auto;/*hight of header minus its border 80-4-4*/
    margin-top: 0px;
    padding: 10px 10px;   
    font-size: 20px;
}
nav{
    
    width:auto;
    margin-top: 0px;
}


h2{
    font-size: 17px
}
#profileimage{
    
    width: 120px;
    height: 120px;
    
}
form{
    width: auto;
    margin: 0px 30px;
    
}
.inp{
    width: auto;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    border-radius: 4px;
    
    
}
}
@media screen and (max-width:640px){/*any thing here works for <640*/
    header{
    
            width: 100%;
            height: 90px;
            position: relative;
            
           
    }
    .main-header{
        height: 80px;
        margin: 0px auto;
        width:100%;
    }
#headerName{
    float:none;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px auto; 
    font-size: 20px;
    text-align: center
}

nav{
    float:none;     
    width:auto;
    height: auto;
    padding: 5px auto;
    margin-top: 0px 0px;
    
}

section{
    
    position: relative;
     width: 350px;
     min-height: calc(100vh - 70px);
     height: auto;
     margin: 15px auto;
     
}
li a{
   
    padding: 10px auto ;    
    text-align: center;


}

h2{
    font-size: 17px
}
.sectionName{
    font-size: 15px;
}
#profileimage{
    float:none;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
}
p {
    font-size: small;
    font-weight: lighter;
    
}


}
